.area {
  background-color: var(--background-color);
  padding: var(--space);
}

.area--dark {
  background-color: var(--dark-background-color);
}

.area--light {
  background-color: var(--light-background-color);
}
