:root {
  --background-color: #8bc34a;
  --light-background-color: #bef67a;
  --dark-background-color: #5a9216;
  --space: 0.5rem;
}
body {
  font-family: Roboto, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.area-module--area--2kuCT {
  background-color: var(--background-color);
  padding: var(--space);
}
#Footer-module--footer--V8wej {
  grid-area: footer;
}
#Header-module--header--3OZ6N {
  grid-area: header;
}
.light-area-module--area--light--1bCIG {
  background-color: var(--light-background-color);
}
#Main-module--main--3Jql9 {
  grid-area: main;
}
.dark-area-module--area--dark--1AgVr {
  background-color: var(--dark-background-color);
}
#nav-module--nav--XOa-H {
  grid-area: nav;
}
#Page-module--page--Mo1Sm {
  display: grid;
  grid: 'nav header' 'nav main' 1fr 'nav footer' / auto 1fr;
  height: 100vh;
}
