* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
}
.area-module--area--2kuCT {
  background-color: #8bc34a;
  padding: 0.5rem;
}
#Footer-module--footer--V8wej {
  grid-area: footer;
}
#Header-module--header--3OZ6N {
  grid-area: header;
}
.light-area-module--light-area--2D3IV {
  background-color: #bef67a;
}
#Main-module--main--3Jql9 {
  grid-area: main;
}
.dark-area-module--dark-area--3Cn6t {
  background-color: #5a9216;
}
#nav-module--nav--XOa-H {
  grid-area: nav;
}
#nav-module--nav--XOa-H #nav-module--list--2gdHL {
  list-style: none;
}
#Page-module--page--Mo1Sm {
  display: grid;
  grid: 'nav header' 'nav main' 1fr 'nav footer' / auto 1fr;
  height: 100vh;
}
