* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h6 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 2.2em;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol > li::before {
  content: counters(item, '.') ' ';
}

ol > li {
  counter-increment: item;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  border: solid 1px black;
  padding: 0.5rem;
}

th.number,
td.number {
  text-align: end;
}

th {
  font-size: 1.1em;
}

ul {
  list-style: none;
}

a,
a:visited {
  color: blue;
}
